<h1>Lista zestawów</h1>
<form>
<%- include('partials/search') %>

<div class="row">
  <div class="col-3">
      <label for="sort" class="form-label">Sortuj wg</label>
      <select name="sort" id="sort" class="form-control">
        <option value="">Domyślnie</option>
        <option value="name|asc" <%- query.sort === "name|asc" ? 'selected' : '' %>>A-Z</option>
        <option value="name|desc" <%- query.sort === "name|desc" ? 'selected' : '' %>>Z-A</option>
        <option value="price|asc" <%- query.sort === "price|asc" ? 'selected' : '' %>>Ceny (rosnąco)</option>
        <option value="price|desc" <%- query.sort === "price|desc" ? 'selected' : '' %>>Ceny (malejąco)</option>
      </select>
      <button class="btn btn-primary mt-3">Zastosuj</button>
  </div>
  <div class="col-9">
    <% giftSets.forEach(giftSet => { %>
    <div class="card bg-light mb-3">
      <div class="card-body">
        <p class="h3 mb-4"><%= giftSet.name %></p>
        <p class="h3 mb-4"><%= giftSet.price %> zł</p>
        <a href="/sets/<%= giftSet.slug %>" class="btn btn-outline-success"
          >Zobacz</a>
        <a
          href="admin/sets/<%= giftSet.slug %>/edit"
          class="btn btn-outline-primary"
          >Edytuj</a>
        <a
          href="admin/sets/<%= giftSet.slug %>/delete"
          onclick="return confirm('Czy na pewno chcesz usunąć ten zestaw?')"
          class="btn btn-outline-danger">Usuń</a>
      </div>
    </div>
    <% }); %>
  </div>
</div>
</form>